<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    welocme to home page <%- include('./partials/uploadFiles.ejs') %>
    <main>
      <section>
        <%-include('./partials/addFolderDialog.ejs') %>
        <%-include('./partials/folders.ejs') %>
      </section>

      <section><%- include('./partials/currentFiles.ejs') %></section>
    </main>
  </body>
</html>

<script>
  let currentFolderId = "<%= universalId %>";
</script>
